<div class="app-page-header app-news-panel-header">
  <h1 class="app-page-headline">Abonnieren Sie unseren Newsletter</h1>
</div>
<div class="app-newsletterbar" id="newsletter">
    <div class="app-newsletter">
      <div class="app-newsletter-item">
        <div class="app-newsletter-item-content">
          <div class="input-group input-group-lg">
  					<span class="input-group-addon" id="sizing-addon1">
  					<i class="fa fa-envelope-o"></i>
						</span>
  					<input type="text" class="form-control" placeholder="Ihre E-Mail" aria-describedby="sizing-addon1">
					</div>
        </div>
      </div>
    </div>
</div>