!cache_control_assets.conf
!disable_logging.conf
!proxy_settings.conf
!protect.conf
# build
# Enable nginx specific settings
*-ck.js
*.EGG
*.EGG-INFO
*.egg
*.egg-info
*.mo
*.pyc
*.pyo
.bzr
.codeintel
.hg
.installed.cfg
.mr.developer.cfg
.svn
_site
ba
bin
build/docker/nginx/site.conf
bower_components
!build
coverage
develop-eggs
dist
downloads
eggs
etc/**/*
fabfile.py
fake-eggs
include
known-good-versions.cfg
lib
parts
pip*
secret.cfg
src/Plone
src/Products.*
src/ade25.*
src/bobtemplates.*
src/collective.*
src/diazo
src/mockup
src/plone.*
src/plonetheme.*
src/sauna.reload
src/vwc.*
src/watchdog
src/z3c.*
var
.DS_Store
.Python
share/
local.cfg
# Enable nginx specific settings
!cache_control_assets.conf
!disable_logging.conf
!proxy_settings.conf
