# Dependencies for our own and additional third party packages
# ============================================================

[versions]
setuptools                      =
zc.buildout                     =
plone.app.portlets               = 4.2.3