<div class="app-card app-card-opening-hours">
  <div class="app-card-header app-card-header-opening-hours">
    <a class="app-card-header-icon" href="{{ page.base_url }}landratsamt/oeffnungszeiten">
      <i class="fa fa-chevron-circle-right fa-4x"></i>
    </a>
  </div>
  <div class="app-card-main">
    <div class="app-card-title">Öffnungszeiten</div>
    <div class="app-card-content">
      <p>Mo bis Fr: 07.30 - 12.30 Uhr<br />
          Mo/Di/Mi: 14.00 - 16.00 Uhr<br />
          Do: 14.00 - 18.00 Uhr<br />
          Fr: nachmittags geschlossen</p>
    </div>
  </div>
</div>
