<div class="app-card app-card-actions">
  <a class="app-card-header-icon" href="{{ page.base_url }}">
    <div class="app-card-header app-card-header-actions">
      <i class="fa fa-chevron-circle-right fa-4x"></i>
    </div>
  </a>
  <div class="app-card-main">
    <div class="app-card-title">Aktionen</div>
    <div class="app-card-content">
      <p>Der Landkreis Aichach-Friedberg ist alles andere als langweilig. Aktivitäten für großund klein, für alt und jung oder auch für alle zusammen.</p>
    </div>
  </div>
</div>