<div class="app-card app-card-address">
  <div class="app-card-header">
    {% include components/brandpanel-inverse.html %}
  </div>
  <div class="app-card-main">
    <div class="app-card-title">Kontakt</div>
    <div class="app-card-content">
      <address>
        Münchener Str. 9<br>
        86551 Aichach
      </address>
      <address>
        <i class="fa fa-phone"></i> 08251/92-0 &nbsp;
        <i class="fa fa-fax"></i> 08251/92-371<br>
        <i class="fa fa-envelope-o"></i> <a href="mailto:poststelle@lra-aic-fdb.de">poststelle@lra-aic-fdb.de</a>
      </address>
    </div>
  </div>
</div>