<div class="app-card card-quick">
  <div class="app-card-main">
    <div class="app-subcards">

      <!-- Card 01 -->
      <div class="app-subcard subcard-tl">
        <a href="{{ page.base_url }}">
          <i class="fa fa-trash fa-4x"></i>
            <div class="app-subcard-title">
              Abfallwirtschaft
            </div>
        </a>       
      </div>

     <!-- Card 02 -->
      <div class="app-subcard subcard-tr">
        <a href="{{ page.base_url }}">  
          <i class="fa fa-car fa-4x"></i>
            <div class="app-subcard-title">
              KFZ-Zulassung
            </div>
        </a>
      </div>

      <!-- Card 03 -->
      <div class="app-subcard subcard-br">
        <a href="{{ page.base_url }}">
          <i class="fa fa-building fa-4x"></i>
            <div class="app-subcard-title">
              Dienstleistungen A-Z
            </div>
        </a>
      </div>

      <!-- Card 04 -->
      <div class="app-subcard subcard-bl">
        <a href="{{ page.base_url }}">
          <i class="fa fa-medkit fa-4x"></i>
            <div class="app-subcard-title">
              Gesundheit
            </div>
        </a>  
      </div>

    </div>
  </div>
</div>