//
// Brand
// -----------------------------------------


// Make a gridrow
.app-brand {
  margin-right: $padding-small-horizontal;
}

//** Inline svg logo
.app-brand-img {
  display: block;
  width: 36px;
  &-sm {
    width: 64px;
  }
  &-md {
    width: 128px;
  }
  &-lg {
    width: 272.576px
  }
  .app-brand-panel & {
    display: inline-block;
  }
}

// The actual brandname/title
.app-brand-title {
  //@include make-md-column(8);
}

.app-brandname {
  display: block;
  padding: $padding-small-horizontal $padding-small-vertical;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  color: $app-primary;
  .app-brand-panel & {
    display: inline-block;
    margin-top: -($line-height-computed);
  }
}

// Sitewide claim
.app-brand-aside {
  @include make-md-column(4);
}
