//
// Newsletter
// -----------------------------------------

.app-newsletterbar {
	border: 0px solid red;
	min-height: 120px;
	background: $app-green-secondary;
	padding: $line-height-computed;

	.form-control {
		border: 0;
		border-radius: 0;
	}

	.input-group-addon {
		background: $app-primary;
		color: #fff;
		border: 0;
	}
}