<footer class="app-footer" id="app-footer" role="contentinfo">
    {% include components/contactpanel.html %}
    <div class="app-footer-content">
      <p class="app-copyright">
        <strong>&copy; {{ site.time | date: '%Y' }} Landratsamt Aichach-Friedberg</strong><br class="d-block d-sm-none">&nbsp;&middot;&nbsp;<a href="{{ page.base_url }}impressum">Impressum</a><br class="d-block d-sm-none">&nbsp;&middot;&nbsp;<a href="{{ page.base_url }}rechtliche-hinweise">Datenschutzerklärung</a><br class="d-block d-sm-none">&nbsp;&middot;&nbsp;<a href="{{ page.base_url }}datenschutz">Datenschutz</a><br class="d-block d-sm-none">&nbsp;&middot;&nbsp;<a href="{{ page.base_url }}kontakt">Kontakt</a>
      </p>
    </div>
</footer>
