//
// Brand
// --------------------------------------------


//== Site section utility classes and mixins
//
//## Site section specific color definitions
//## intendend to be used as mixin or modifier classes


//** Default brand color scheme
.app-default {
  color: $app-default;
}

//** Primary brand color scheme
.app-primary-darker {

}
.app-primary-dark {

}
.app-primary {
  background-color: $app-primary;
}
.app-primary-light {

}
.app-primary-lighter {

}

.app-default-bg {
  background-color: $app-section-default;
}


// Section specific brand color overrides
.section-aktuelles {
    $app-pathbar-bg:    $app-secondary-base;
}



//** News section
.app-news {
  color: $app-section-news;
}

.app-news-bg {
  background-color: $app-section-news;
}

//** Service section
.app-service {
  color: $app-section-service;
}

.app-service-bg {
  background-color: $app-section-service;
}

//** Section Landratsamt
.app-department {
  color: $app-section-department;
}

.app-department-bg {
  background-color: $app-section-department;
}

//** Section Service
.app-landkreis {
  color: $app-section-landkreis;
}

.app-landkreis-bg {
  background-color: $app-section-landkreis;
}

// Section Info
.app-info {
  color: $app-section-landkreis;
}

.app-info-bg {
  background-color: $app-section-landkreis;
}

// Section Hier Leben
.app-life {
  color: $app-section-life;
}

.app-life-bg {
  background-color: $app-section-life;
}
