//
// Footer
// -----------------------------------

.app-footer {
    padding: 0;
}

.app-footer-content {
  	@include make-container();
  	@include make-container-max-widths();
  	font-weight: 400;
  	a {
    	text-transform: uppercase;
  	}
}

.app-copyright {
	padding: 0 1rem;
}
