//
// Header
// ------------------------------------------


.app-header {
  padding-top: 3rem;
  @media (min-width: $grid-float-breakpoint-max) {
    padding-left: $line-height-computed;
    padding-bottom: 1rem;
  }
}

.app-header-content {
  @media (min-width: $grid-float-breakpoint) {
    @extend .container;
    display: flex;
  }
}

.app-header-content + .app-header-content {
  margin-top: 1.5rem;
}

.app-header-panel {
  flex: 0 0 50%
}