<div class="app-card app-card-actions">
  <a class="app-card-header-icon" href="{{ page.base_url }}aktuelles/termine">
    <div class="app-card-header app-card-header-actions">
      <i class="fa fa-chevron-circle-right fa-4x"></i>
    </div>
  </a>
  <div class="app-card-main">
    <div class="app-card-title">Termine</div>
    <div class="app-card-content">
      <p>Alle Termine im Überblick. Informieren Sie sich hier über die aktuellen Termine des Landratsamtes Aichach-Friedberg.</p>
    </div>
  </div>
</div>