<div class="app-card app-card-forms">
  <a class="app-card-header-icon" href="{{ page.base_url }}service/formulare">
    <div class="app-card-header app-card-header-forms">
      <i class="fa fa-chevron-circle-right fa-4x"></i>
    </div>
  </a>
  <div class="app-card-main">
    <div class="app-card-title">Formulare</div>
    <div class="app-card-content">
      <p>Auf dieser Seite bieten wir Ihnen Dokumente, Broschüren und Berichte nach Fachbereichen sortiert im sog. pdf - Format an.</p>
    </div>
  </div>
</div>