<div class="app-card app-card-circle">
  <a class="app-card-header-icon" href="{{ page.base_url }}info/kreistag">
    <div class="app-card-header app-card-header-circle">
      <i class="fa fa-chevron-circle-right fa-4x"></i>
    </div>
  </a>
  <div class="app-card-main">
    <div class="app-card-title">Kreistag</div>
    <div class="app-card-content">
      <p>Der Kreistag ist das wichtigste Organ des Landkreises. Hier erfahren Sie alles, was es über den Kreistag zu wissen gibt.</p>
    </div>
  </div>
</div>