<div class="app-card app-card-cars">
  <a class="app-card-header-icon" href="{{ page.base_url }}service/online-dienste">
    <div class="app-card-header app-card-header-cars">
      <i class="fa fa-chevron-circle-right fa-4x"></i>
    </div>
  </a>
  <div class="app-card-main">
    <div class="app-card-title">KFZ-Zulassung, Onlinedienste</div>
    <div class="app-card-content">
      <p>Sie wollen demnächst ein Kraftfahrzeug zulassen oder möchten sich Ihr Wunschkennzeichen online auf Ihren Namen reservieren?</p>
    </div>
  </div>
</div>