<div class="app-card app-card-map">
  <a class="app-card-header-icon" href="{{ page.base_url }}landratsamt/anfahrt">
    <div class="app-card-header app-card-header-map">
      <i class="fa fa-chevron-circle-right fa-4x"></i>
    </div>
  </a>
  <div class="app-card-main">
    <div class="app-card-title">So finden Sie uns!</div>
    <div class="app-card-content">
      <p>Kommen Sie mit dem Auto, den Öffentlichen, dem Rad oder zu Fuß? Von Norden, Süden, Osten oder Westen?</p>
    </div>
  </div>
</div>
