//
// Actionbar
// -------------------------------------

.app-actionbar {

}

.app-actions {
  display: flex;
  font-size: 0.85rem;
}

.app-action {
  flex: 1;
  padding: @line-height-computed @padding-xs-horizontal;
  color: #fff;
  background: @app-primary;
  text-align: center;
  &:nth-child(even) {
    color: #fff;
    background: @app-blue-secondary;
  }
}

.app-action-search {
  flex: 1;
  color: @app-primary;
  background: @app-gray;
}

.app-searchbox-group {
  display: flex;
}

.app-searchbox-control {
  display: flex;
}

.app-searchbox-field {
  width: 66.6666%;
  background
}

.app-searchbox-btn {
  flex: 0 0 33.3333%;
  .button-variant(#fff; @app-blue-secondary; @app-blue-secondary);
}