//
// Navbar
// -----------------------------------------

.app-navbar {
  .navbar();
  border-bottom: 10px solid @app-primary;
}

.app-navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

//== Navitems
//
//## Color coded based on addon classes
.app-navitem {
  text-align: center;
}

.app-navitem-landratsamt {
  background: @app-brown;
}
