@media print {
	.app-header {
		display: none !important;
	}

	.app-pathbar {
		display: none !important;
	}

	.app-main-aside {
		display: none !important;
	}

	.back {
		display: none !important;
	}

	.app-contact-viewlet-elements {
		.app-contact-actions {
			display: none !important;
		}
	}

	.app-contact-panel {
		display: none !important;
	}

	.app-footer {
		display: none !important;
	}

	.dim-in {
    	opacity: 1 !important;  /* make things visible upon start */
	}

	svg {
		position: absolute !important;
	}
}


