@page {
    size: A4;
}

@media print {
    // Basic body resets
    body {
        background: white;
        display: block;
        overflow: visible !important;
        margin: 0;
        // Use well readable system fonts for printing
        font-family: Georgia, 'Times New Roman', serif;
        font-size: 1em;
        float: none;
    }

    .dim-in {
        opacity: 1 !important;  /* make things visible upon start */
    }

    svg {
        position: absolute !important;
    }

    // Hide components
	.app-header,
    .app-pathbar,
    .app-main-aside,
    .app-contact-panel,
    .app-contact-actions,
    .app-footer,
    .back,
    .app-main-aside {
		display: none !important;
	}

    .app-main,
    .app-main-section,
    .app-main-content,
    .app-content,
    .app-page-header,
    .app-page-title,
    .app-page-headline,
    .app-page-abstract,
    .app-page-body,
    .app-page-text {
        display: block;
        width: 800px !important;
        overflow: visible !important;
        float: none;
    }
}


