<!doctype html>
<html lang="de">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include base/head.html %}
  </head class="dim-in dim-in-3">
  <body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

    <main class="app-main app-main-fullscreen" role="main">
          {{ content }}
    </main>
    <div class="app-js-slot">
        {% include base/webfonts.html %}
    </div>
    {% include base/javascript.html %}
  </body>
  <div>
      {% include base/piwik.html %}
    </div>
</html>
