//
// Actionbar
// -------------------------------------

.app-actionbar {

}

.app-actions {
  display: flex;
  font-size: 0.85rem;
}

.app-action {
  flex: 1;
  padding: ceil(($spacer / 2));
  color: #fff;
  background: $app-primary;
  text-align: center;
  &:nth-child(even) {
    color: #fff;
    background: $app-secondary;
  }

  a {
    color: #fff;
  }
}

.app-action-search {
  flex: 1;
  color: $app-primary;
  background: $app-gray;
}

.app-searchbox-group {
  display: flex;
}

.app-searchbox-control {
  display: flex;
}

.app-searchbox-field {
  @extend .form-control;
  width: 66.6666%;
  max-width: 66.6666%;
  background-color: $app-gray;
  border-color: $app-gray;
}

.app-searchbox-btn {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  @include button-variant(#fff, $app-secondary, $app-secondary);
}

.actionMenu {
  display: none;
}

.searchPage .input-group {
  margin-bottom: 1rem;
}

.searchPage .input-group {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.searchResults {
  padding-left: 1rem;

> li {
  border-bottom: 1px solid #ccc;
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style-position: outside;
  }
}

.pagination {
  background: #ccc;
  padding-top: 1rem;
  padding-bottom: 1rem;

  ul {
    margin-bottom: 0;
  }
  li {
    display: inline;
  }
  .active {
    //background: $app-primary;
    font-weight: 700;
    span:after  {
      content: "]";
      display: inline;
      color: $app-primary;
    }
    span:before {
      content: "[";
      display: inline;
      color: $app-primary;
    }
  } 
}
