//
// Cards displaying thumbnails and data collections
// ------------------------------------------------------


//== Card lists
//
//## Use a grid layout for card listings
.app-cards {
  display: flex;
  flex-wrap: wrap;
}

//** Base card styles
.app-card {
  flex: 0 0 33.3333%;
  color: $gray-lighter;

  .fa {
    color: #fff;
  }
    @include media-breakpoint-down(md) {
        flex: 0 0 50%;
    }
    @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
    }
}

//== Card layout
//
//## Reflow card contents based on viewport size
.app-card-header {
  display: flex;
  align-items: top;
  height: 12rem;
  min-height: 12rem;
  padding: $spacer;
  background: linear-gradient(to bottom, #1d3a24 0%,#588c73 100%);
    @include when-inside('.app-nav-list') {
        display: none;
    }

  &-address {
    background: $app-secondary;
  }
  &-opening-hours {
      background: url(../assets/img/opening.jpg) no-repeat top center;
      background-size: cover;
  }
  &-map {
      background: url(../assets/img/map.jpg) no-repeat top center;
      background-size: cover;
  }
  &-forms {
      background: url(../assets/img/card-forms-bg.jpg) no-repeat top center;
      background-size: cover;
  }

  a:hover {
    color: #fff;
    opacity: 0.7;
  }

  a:visited {
    color: #fff;
  }
}

.app-card-header-icon {
  color: #fff;
}

//** Card content
.app-card-main {
  height: 12rem;
  min-height: 12rem;
  padding: ($spacer / 2);
  background: $app-primary;
    @include when-inside('app-nav-list') {
        color: $app-secondary;
    }
}

//** Card footer
.app-card-footer {
  padding: ($spacer / 2);
}

//== Gutter
//
//## Add spacing to cards
.app-card-gutter {
    margin: -1rem 0 0 -1rem;
    .app-card {
        padding: 1rem 0 0 1rem;
    }
}

//== Embedded card
//
//## Remove spacing for card inside card usecase
.app-subcard {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  border: 0;
}


//== Embedded card
//
//## Remove spacing for card inside card usecase

.app-subcards {
    display: flex;
    flex-wrap: wrap;
}

.app-subcard {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;   
    flex: 0 1 50%;
    padding: 1.5rem;
    color: #fff;
    height: 12rem;
    min-height: 12rem;
        @include media-breakpoint-down(md) {
        flex: 0 0 50%;
    }
        @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
        }
    path {
        fill: #fff;
    }
}

//== Card title
//
//## Title is used inside the card-main container
.app-card-title {
    font-size: 1.25rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    @include when-inside('.wf-active') {
        font-weight: 500;
    }
}

//** Set card content specific styles
.app-card-content {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  font-size: 1rem;
  height: 10rem;
  min-height: 10rem;
  address {
    margin-bottom: 0;
  }
  a {
    font-weight: 400;
    text-decoration: underline;
    color: #fff;
  }
}


//== Placeholder for missing card content
//
//## Provide call to actions and descriptions on empty cards
//## by providing highlighted card content
.app-card-placeholder {
  margin: 0.5rem auto;
  padding: 1rem;
  text-align: center;
  @include media-breakpoint-up(sm) {
    padding: 2rem 3rem;
    width: 66.66%;
  }
}

//** Round hellip sign
.app-card-placeholder-sign {
  @include size(4rem);
  @extend .center-block;
  padding-top: 0.5rem;
  border-radius: 50%;
  border: 1px solid $gray-lighter;
  color: $gray-lighter;
  font-size: 1.5rem;
}


//** quick / multitarget card

.card-quick {
  @include media-breakpoint-down(md) {
        flex: 0 0 100%;
    }
  .app-card-main {
    height: 24rem;
    min-height: 24rem;
    background: linear-gradient(to bottom, #1d3a24 0%,#588c73 100%);
    padding: 0;
    } 
    .app-card-content {
        font-size: 1rem;
    }
    .app-subcard-title {
      color: #fff;
    }

// Quickcard styles
//
// TODO: Cleanup - do  not repeat yourself :)

//** quick / Subcard pray

.subcard-tl {
    text-align: center;
    border: 2px solid #fff;
    border-width: 0 2px 2px 0;
        @include media-breakpoint-down(sm) {
            border-width: 0 0 2px 0;
        }
}

//** quick / Subcard donation

.subcard-tr {
    text-align: center;
    border: 2px solid #fff;
    border-width: 0 0 2px 2px;
    @include media-breakpoint-down(sm) {
      border-width: 0 0 2px 0;
    }
  }

//** quick / Subcard Dienstleistungen

.subcard-bl {
    text-align: center;
    border: 2px solid #fff;
    border-width: 2px 0 0 2px;
    @include media-breakpoint-down(sm) {
      border-width: 0 0 0 0;
    }
}

//** quick / Subcard Gesundheit

.subcard-br {
    text-align: center;
    border: 2px solid #fff;
    border-width: 2px 2px 0 0;
    @include media-breakpoint-down(sm) {
      border-width: 0 0 2px 0;
    }
}
}

