//
// Cards displaying thumbnails and data collections
// ------------------------------------------------------


//== Card lists
//
//## Use a grid layout for card listings
.app-cards {
  display: flex;
  flex-wrap: wrap;
}

//** Base card styles
.app-card {
  flex: 1;
  color: $gray-lighter;
}

//== Card layout
//
//## Reflow card contents based on viewport size
.app-card-header {
  display: flex;
  align-items: top;
  height: 10rem;
  min-height: 10rem;
  padding: $spacer;
  background: $app-secondary;
  .app-card-header-icon {
    color: #fff;
  }
}

//** Card content
.app-card-main {
  padding: ($spacer / 2);
  background: $app-primary;
}

//** Card footer
.app-card-footer {
  padding: ($spacer / 2);
}

//== Gutter
//
//## Add spacing to cards
.app-card-gutter {
  margin: (-$spacer) 0 0 (-$spacer);
  .app-card {
    padding: $spacer 0 0 $spacer;
  }
}

//== Embedded card
//
//## Remove spacing for card inside card usecase
.app-subcard {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  border: 0;
}


//== Card title
//
//## Title is used inside the card-main container
.app-card-title {
  font-size: 1.25rem;
  font-weight: 500;
}

//** Set card content specific styles
.app-card-content {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  font-size: 1rem;
  height: 10rem;
  min-height: 10rem;
  address {
    margin-bottom: 0;
  }
  a {
    font-weight: 400;
    text-decoration: underline;
    color: #fff;
  }
}


//== Placeholder for missing card content
//
//## Provide call to actions and descriptions on empty cards
//## by providing highlighted card content
.app-card-placeholder {
  margin: 0.5rem auto;
  padding: 1rem;
  text-align: center;
  @include media-breakpoint-up(sm) {
    padding: 2rem 3rem;
    width: 66.66%;
  }
}

//** Round hellip sign
.app-card-placeholder-sign {
  @include size(4rem);
  @extend .center-block;
  padding-top: 0.5rem;
  border-radius: 50%;
  border: 1px solid $gray-lighter;
  color: $gray-lighter;
  font-size: $display4-size;
}


//== Map Card

.app-card-map {
  .app-card-header {
    background: url(../assets/img/map.jpg) no-repeat top center;
  }
}

//== Card opening hours

.app-card-opening {
  .app-card-header {
    background: url(../assets/img/opening.jpg) no-repeat top center;
  }
}
