//
// Navigation Card Styles
// ------------------------------------------------------



.app-card-nav {
.app-card-main {
  height: 100%;
  min-height: 12rem;
}
}



.app-nav-list {
    padding-left: 0;
    list-style: none;
}

.app-nav-list-item {
    margin-left: 0;
    padding: .5rem .25rem;
    &:not(last) {
        margin-bottom: .25rem;
        border-bottom: 1px solid #fff;
    }
}

.app-nav-list-link {
    color: #fff;
    &:hover {
        color: darken(#fff, 10%);
    }
    &.navTreeCurrentNode {
        color: $gray-lighter;
    }
}

// DEPRECATED 13.01.2015:
// Use diazo transforms to cleanup the standard navtree portlet
// This should allow for better control
.app-nav-list,
.navTree {
    padding-left: 0;
    list-style: none;
}

.app-nav-list {
	.app-card-main {
		padding: 0;
	}
}

.navTreeItem {
    margin-left: 0;
    > a {
    	display: block;
    	text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding: 1rem;
        margin: 0;
        &:hover,
  		&:focus {
  			color: #fff;
   			background: $app-primary-dark;
  		}
    }
}

.navTreeCurrentItem {
    color: #fff;
    background: $app-primary-dark;
}

.navTreeItemInPath {
    color: #fff;
    //background: $app-primary-dark;
}

.navTreeItem .navTreeLevel0 li a:link {
    font-size: 1.5rem;
}

.navTreeLevel1 {
    margin-left: 0;
    padding-left: 0;
}

.navTreeItem .navTreeLevel1 li a:link {
    padding-left: 2rem;
    font-size: 0.8rem;
}

.navTreeLevel2 {
    margin-left: 0px;
}

.navTreeItem .navTreeLevel2 li a:link {
    padding-left: 4rem;
    font-size: 0.8rem;
}

.navTreeLevel3 {
    margin-left: 0px;
}

.navTreeItem .navTreeLevel3 li a:link {
    padding-left: 6rem;
    font-size: 0.8rem;
}

.image-icon {
    display: none;
}
