//
// Newsletter
// -----------------------------------------

.app-newsletterbar {
	@include make-container();
	@include make-container-max-widths();
	margin-bottom: $spacer * 2;
	margin-top: $spacer * 2;

	.form-control {
		border: 0;
		border-radius: 0;
	}

	.input-group-addon {
		background: $app-primary;
		color: #fff;
		border: 0;
	}
}

.app-newsletter {
	background: $app-green-secondary;
	padding: $spacer;
}
