//
// Newsletter
// -----------------------------------------

.app-newsletterbar {
	background: $app-green-secondary;
	padding: $spacer;
	margin-bottom: $spacer / 2;

	.form-control {
		border: 0;
		border-radius: 0;
	}

	.input-group-addon {
		background: $app-primary;
		color: #fff;
		border: 0;
	}
}
