.app-newspanel-wrapper {
	display: block;
	@extend .container;
}

.app-fp-newsitem {
	@include make-row();
	@include media-breakpoint-down(sm) {
			margin-top: 1rem;
		}
}

.app-fp-newsitem-imagewrapper {
	@include make-col-span(4);
	@include make-col();
	@include media-breakpoint-down(md) {
          @include make-col-span(12);

      }

	.ratio-container {
		width: 350px;
		@include media-breakpoint-down(sm) {
			width: 330px;
		}
	}
}

.app-fp-newitem-image {
	
	
}

.app-fp-newsitem-contentwrapper {
	@include make-col-span(8);
	@include make-col();
	

	@include media-breakpoint-down(md) {
          @include make-col-span(12);
      }

}


.app-fp-newsitem-content {
	background: $app-primary;
    padding: 1.5rem;
    color: #fff;
}	



.app-fp-newsitem-title {
	font-size: 2rem;
	font-weight: 500;
}

.app-fp-newsitem-abstract {

}

.app-fp-newsitem-actions {
	text-align: right;
	a {
		color: #fff;
	}

}