//== Page styles
//
//## Define content specific styles
.app-page {
    padding: $spacer 0;
}

.app-page-title {
    @extend .page-header;
    color: $app-primary;
}

.app-page-headline {
    font-weight: 700;
    font-size: 1.2rem;
    @include media-breakpoint-up(sm) {
        font-size: 2rem;
    }
}


// Use custom lead element for page desciptions
// that has proper line-height on all media types
.app-page-lead,
.app-page-abstract {
    @extend .lead;
    color: $app-primary;
}


//== Page section
//
//## Container providing visual separation
.app-page-section {
    margin: 1rem 0 2rem;
}

//
// Table styles
//
.app-table {
    @extend .table;
    &-inverse {
        @extend .table-inverse;
    }
    &-striped {
        @extend .table-striped;
    }
    &-bordered {
        @extend .table-bordered;
    }
}

.app-page-block {
    @include make-row();
    padding: 1rem;
}

.app-page-block-content {
    border: 1px solid red;
    @include make-col(12);
      @include media-breakpoint-up(sm) {
          @include make-col(6);
      }
}

.app-page-block-card {
    border: 1px solid red;
    @include make-col(12);
    background: #fff;
    min-height: 120px;
    padding: 1rem;
    border: 3px solid $app-gray;
    img {
        display: block;
    }
      @include media-breakpoint-up(sm) {
          @include make-col(3);
      }
}
