// Contact cards and elements

// Base contact elements

.app-contact-block {
    padding: 0rem;
}

.app-contact-position {
    font-weight: 700;
    padding-bottom: 1rem;
}

.app-contact-phone {
    //padding-left: 1rem;
    position: relative;
    &::before {
        content: "\f095";
        font-family: FontAwesome;
        padding-right: .7rem;
    }
}

.app-contact-fax {
    //padding-left: 1rem;
    position: relative;
    &::before {
        content: "\f1ac";
        font-family: FontAwesome;
        padding-right: .5rem;
    }
}

.app-contact-email {
    position: relative;
    color: #fff;
    &::before {
        content: "\f003";
        font-family: FontAwesome;
        padding-right: .5rem;
        color: #fff;
    }
}


// Contact standalone view
//
// beside the app-content-main class

.app-contact-standalone {
    .app-contact-position {
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    address {
        padding-left: 1rem;
    }

}


// Contact cards
//
// Modulation of standard content cards
// Use as addon classes where appropriate

.app-card-contact {
    .app-card-content {
        padding-top: 0;
    }

    .app-card-content-lead {
        display: none;
    }

    .app-card-main {
        padding: 0;
        background: #eee;
        height: 100%;
    }
}

.app-card-header-contact {
    height: auto;
    min-height: auto;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    padding: 1rem;

    .app-card-title {
        font-size: 1rem;
        padding: 0;
    }
}

.app-card-content {
    @include when-inside('.app-card-main-contact') {
        padding: 1rem;
        color: #000;
    }

    address {
        margin-bottom: 0;
        padding-top: 0;
    }
}

.app-card-footer-contacts {
    padding: 0 1rem 1rem 1rem;
    background-color: #eee;
}

//## Make button 100% wide in contact cards
.app-btn-contact-card {
    @extend .btn-block;
    background: $app-primary;
    border: 1px solid $app-primary;
}


// Contact content elements
//
// Content elements are displayed below the main content
// area and need a horizontal layout grid
.app-contact-element {
    @include make-row();

    address {
        margin: 0;
    }
}

.app-contact-element-aside {
    @include make-col(12);
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }
    @include media-breakpoint-up(md) {
        @include make-col(4);
    }
}

.app-contact-element-main {
    //@include make-col(12);
    //@include media-breakpoint-up(sm) {
    //    @include make-col(6);
    //}
    //@include media-breakpoint-up(md) {
    //    @include make-col(8);
    //}
    width: 100%;
    padding: 1rem;
    background-color: $app-gray;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.app-contact-element-title {
    padding-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
}

.app-contact-element-block {
    margin-bottom: 0;
    &.app-contact-position {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.app-contact-phone,
.app-contact-fax {
    @include when-inside('.app-contact-element-block') {
        padding: 0;
    }
}

.app-contact-element-media {
    margin: 0;
}

.app-contact-actions {
    padding-top: 1rem;
}



