// Intro elements

.app-intro-wrapper {
	padding-top: 10rem;
	background: url(../assets/img/intro.jpg) no-repeat top center;
    background-size: cover;

    a:hover {
		text-decoration: none;
    	}

    .app-brand {
    	padding-bottom: 5rem;
    }

    .app-brandname {
    	color: #fff;
    	font-size: 4rem;
    	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    	font-weight: 700;
    }

    .app-action-search-wrapper {
    	@include make-container();
    	@include make-container-max-widths();
    	padding-bottom: 5rem;

    	.app-searchbox-group {
    		height: 100px;
    		border: 20px solid #fff;
    	}

    	.app-searchbox-control {
    		font-size: 1.5rem;
    	}
    }

    .app-intro-button {
    	@include make-container();
    	@include make-container-max-widths();
    	padding-bottom: 5rem;
    	text-align: center;

    	.app-intro-btn {
    		font-size: 1.5rem;
    		@include button-variant(#fff, $app-secondary, $app-secondary);
    		a {
    			color: #fff;
    		}
    	}
    }
}

.intro {
	@include make-container();
    @include make-container-max-widths();
    margin-top: 1rem;

    .app-main {
    	padding-left: 0;
    	padding-right: 0;
    	}
    }