<div class="sg-sidebar">
  <div class="sg-sidebar-header">
    <div class="sg-sidebar-title">Styleguide</div>
    <div class="sg-sidebar-subtitle">v1.0.0-dev</div>
  </div>
  <div class="sg-sidebar-content">
  <ul class="sg-sidebar-nav">
      <li{% if page.slug == "styleguide" %} class="active"{% endif %}>
        <a href="{{ page.base_url }}styleguide">Übersicht</a>
        <span class="sr-only">(current)</span>
      </li>
      <li{% if page.slug == "sg-brand" %} class="active"{% endif %}>
        <a href="{{ page.base_url }}sg-brand">Marke</a>
      </li>
      <li{% if page.slug == "sg-colors" %} class="active"{% endif %}>
        <a href="{{ page.base_url }}sg-colors">Farbschema</a>
      </li>
      <li{% if page.slug == "sg-typography" %} class="active"{% endif %}>
        <a href="{{ page.base_url }}sg-typography">Typographie</a>
      </li>
    </ul>
    <ul class="sg-sidebar-nav">
      <li class="sg-sidebar-navitem"><a href="">Structure</a></li>
      <li class="sg-sidebar-navitem"><a href="">Buttons</a></li>
      <li class="sg-sidebar-navitem"><a href="">Forms</a></li>
      <li class="sg-sidebar-navitem"><a href="">Tables</a></li>
      <li class="sg-sidebar-navitem"><a href="">Cards</a></li>
    </ul>
    <ul class="sg-sidebar-nav">
      <li class="sg-sidebar-navitem"><a href="">Actionpanel</a></li>
      <li class="sg-sidebar-navitem"><a href="">Navbar</a></li>
      <li class="sg-sidebar-navitem"><a href="">Footer</a></li>
    </ul>
    </div>
</div>