//
// Brandbar
// -----------------------------------------

.app-brandbar {
  padding-top: ceil(($spacer * 1.5));
  @media (min-width: $grid-float-breakpoint-max) {
    padding-left: $spacer;
    padding-bottom: ceil(($spacer * 1.5));
  }
}

.app-brandbar-content {
  @media (min-width: $grid-float-breakpoint) {
    @extend .container;
  }
}

// Make a gridrow
.app-brand {
  @include make-row();
    &:hover {
        text-decoration: none;
    }
}

// The actual brandname/title
.app-brand-title {
  @include make-md-column(8);
}

.app-brandname {
  display: block;
  padding: $padding-small-horizontal $padding-small-vertical;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  color: $app-primary;
  .app-brandname-logo {
    @extend .img-responsive;
  }
}

.app-brandname-heading {
  color: $app-primary;
  font-size: $font-size-large;
  font-weight: 400;
}

// Sitewide claim
.app-brand-aside {
  @include make-md-column(4);
}
