//
// Header
// ------------------------------------------


.app-header {
  padding-top: 1rem;
  @include media-breakpoint-up(md) {
    padding-top: 3rem;
    border-bottom: 10px solid $app-primary;
  }
}

.section-landratsamt {
  .app-header {
    border-bottom: 10px solid $app-section-department;
  }
}

.section-aktuelles {
  .app-header {
    border-bottom: 10px solid $app-section-news;
  }
}

.section-service {
  .app-header {
    border-bottom: 10px solid $app-section-service;
  }
}

.section-info {
  .app-header {
    border-bottom: 10px solid $app-section-info;
  }
}

.section-hier-leben {
  .app-header {
    border-bottom: 10px solid $app-section-life;
  }
}

.app-header-content {
    @include make-container();
    @include make-container-max-widths();
    @include media-breakpoint-up(md) {
        display: flex;
    }
}

.app-header-content + .app-header-content {
  margin-top: 1.5rem;
}

.app-header-panel {
  flex: 1;
}

.app-header-brandbar {
  margin-left: 1rem;
  margin-right:1rem;
}

.app-header-actionbar {
    margin-left: 0;
    margin-right:0;
  @include media-breakpoint-up(sm) {
    margin-left: 1rem;
    margin-right:1rem;
  }
}


//== Adjust grid cell sizes
//
//## Starting from the grid breakpoint the header
////## should display in the standard 2:1 ratio
@include media-breakpoint-up(lg) {
    .app-header-brandbar {
        flex: 0 0 66.6666%;
        margin-left: 0;
        margin-right: 0;

    }
    .app-header-actionbar {
        flex: 0 0 33.3333%;
        margin-left: 0;
        margin-right: 0;
    }
}

//.app-header-brandbar {
//  @include make-col(12);
//    @include media-breakpoint-up(md) {
//        @include make-col(8);
//}
//}
//
//.app-header-actionbar {
//  @include make-col(12);
//    @include media-breakpoint-up(md) {
//        @include make-col(4);
//}
//}
//

