<header class="app-header" id="app-header" role="banner">
  <div class="app-header-content">
    <div class="app-header-panel app-header-brandbar">
      <div class="app-brand app-brand-panel">
        <a class="app-brand-img app-brand-img-md" href="/">
          {% include components/logo.html %}
        </a>
        {% include components/brandname.html %}
      </div>
    </div>
    <div class="app-header-panel app-header-actionbar">
      {% include components/actionbar.html %}
    </div>
  </div>
  <div class="app-header-content">
    {% include components/navbar.html %}
  </div>
</header>