<div class="app-actionbar" id="app-actionbar">
    <div class="app-actions">
        <div class="app-action">
          <a href="{{ page.base_url }}service/formulare">
            <i class="fa fa-file-text-o fa-2x visible-sm-up" aria-hidden="true"></i><br>
            Formulare
          </a>
        </div>
        <div class="app-action">
          <a href="{{ page.base_url }}landratsamt/anfahrt">
            <i class="fa fa-compass fa-2x visible-sm-up" aria-hidden="true"></i><br>
            Anfahrt
          </a>
        </div>
        <div class="app-action">
          <a href="{{ page.base_url }}kontakt">
            <i class="fa fa-phone fa-2x visible-sm-up" aria-hidden="true"></i><br>
            Kontakt
          </a>
        </div>
    </div>
    <div class="app-action-search">
        <form class="app-searchbox" role="search" action="/lra/@@search">
          <div class="app-searchbox-group">
              <input class="app-searchbox-control app-searchbox-field" type="text" name ="SearchableText" id="SearchableText" placeholder="Suchen nach...">
              <button class="btn btn-default app-searchbox-control app-searchbox-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  <span class="sr-only">Suchen</span>
              </button>
            </div><!-- /input-group -->
        </form>
    </div>
</div>
