<div class="app-chart-panel" id="app-chart-panel" role="contentinfo">
	<div class="app-page-header app-news-panel-header">
		<h1 class="app-page-headline">Verwaltungsgliederungsplan für das Landratsamt Aichach - Friedberg</h1>
	</div>

    <div class="app-chart-content">
    	<div class="level01">
      		<div class="chart chart01">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Amtsvorstand
      				</div>
      				<div class="chart-body">
      					Landrat<br />
      					Dr. KLAUS METZGER
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			
      		</div>
      		<div class="chart chart02">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Büro des Landrats, Öffentlichkeitsarbeit
      				</div>
      				<div class="chart-body">
      					VAR MÜLLER
      				</div>
      			</div>
      		</div>
      		<div class="chart chart03">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Gleichstellungsstelle
      				</div>
      				<div class="chart-body">
      					Beate OSWALD-HUBER
      				</div>
      			</div>
      		</div>
      		<div class="chart chart04">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Kreisrechnungs-<br />prüfungsamt
      				</div>
      				<div class="chart-body">
      					VR GÖTTLER
      				</div>
      			</div>
      		</div>
      		<div class="chart chart05">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Kreisbaumeister,<br />Gutachterausschuss
      				</div>
      				<div class="chart-body">
      					BD NEUMANN
      				</div>
      			</div>
      		</div>
      		<div class="chart chart06">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Personalrat
      				</div>
      				<div class="chart-body">
      					Vorsitzender<br />
      					RAR RAAB
      				</div>
      			</div>
      		</div>
      	</div>

      	<div class="trenner">
      	</div>

      	<div class="level02">

      		<!-- col 01 -->
      		<div class="chart dep01">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Abteilung 1
      				</div>
      				<div class="chart-description">
      					Zentrale Angelegenheiten, Kreisentwicklung
      				</div>
      				<div class="chart-body">
      					Ltd. VD SPIEKER
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 10
      				</div>
      				<div class="chart-description">
      						Personalverwaltung des Landkreises und der Krankenhäuser
      					</div>
      				<div class="chart-body">
      					OVR GROßHAUSER <sup>2</sup>
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 11
      				</div>
      				<div class="chart-description">
      					Kreisfinanzen und Kreiskasse
      				</div>
      				<div class="chart-body">
      					OVR GRIMMEIß <sup>3</sup>
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 12
      				</div>
      				<div class="chart-description">
      					Wirtschaftsförderung, Regionalmanagement und Klimaschutz
      				</div>
      				<div class="chart-body">
      					Dipl.-Kff. (Univ.)<br />
      					EDER <sup>4</sup>
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 13
      				</div>
      				<div class="chart-description">
      					Altenhilfe, Senioren-/ Behindertenberatung und Heimrecht
      				</div>
      				<div class="chart-body">
      					Dipl.-Sozialpäd. (FH)<br />
      					NEUMEIER
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 14
      				</div>
      				<div class="chart-description">
      					
      				</div>
      				<div class="chart-body">
      					VAM BURKHART
      				</div>
      			</div>
      		</div>

      		<!-- col 02 -->
      		<div class="chart dep02">

      			<div class="chart-item">
      				<div class="chart-heading">
      					Abteilung 2
      				</div>
      				<div class="chart-description">
      					Kommunales und Soziales
      				</div>
      				<div class="chart-body">
      					RR'in SCHWÄGERL (SGe 20, 24 und 25, Enteignungen)<br />
						RD'in STRAUCH (SGe 22 und 23, Schulamt, Stv. Enteignungen)
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 20
      				</div>
      				<div class="chart-description">
      					Kommunale Angelegenheiten und Wahlen, Staatl. Rechnungs- prüfungsstelle
      				</div>
      				<div class="chart-body">
      					VAR SIMON
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 22
      				</div>
      				<div class="chart-description">
      					Soziale Leistungen, Jobcenter Wittelsbacher Land
      				</div>
      				<div class="chart-body">
      					RAM NAHLER
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 23
      				</div>
      				<div class="chart-description">
      					Kreisjugendamt
      				</div>
      				<div class="chart-body">
      					Dipl.-Päd. (Univ.)<br />
      					RICKMANN
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 24
      				</div>
      				<div class="chart-description">
      					Besondere soziale Angelegenheiten
      				</div>
      				<div class="chart-body">
      					SR FRÖSCHL
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 25
      				</div>
      				<div class="chart-description">
      					Ehrenamt, Bildung, Integration
      				</div>
      				<div class="chart-body">
      					N.N.
      				</div>
      			</div>

      		</div>

      		<!-- col 03 -->
      		<div class="chart dep03">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Abteilung 3
      				</div>
      				<div class="chart-description">
      					Sicherheit und Verbraucherschutz
      				</div>
      				<div class="chart-body">
      					N.N.
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 30
      				</div>
      				<div class="chart-description">
      					Sicherheit, Katastrophenschutz und Lebensmittel- überwachung
      				</div>
      				<div class="chart-body">
      					RR GREPPMEIER
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 31
      				</div>
      				<div class="chart-description">
      					Ausländer- und Personenstandswesen
      				</div>
      				<div class="chart-body">
      					VAF LOSINGER
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 32
      				</div>
      				<div class="chart-description">
      					Verkehrs- und Führerscheinwesen
      				</div>
      				<div class="chart-body">
      					Verwaltungsfachwirt<br />
      					GEILING
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 33
      				</div>
      				<div class="chart-description">
      					Gesundheitsamt
      				</div>
      				<div class="chart-body">
      					MD DR. HENNIG <sup>5</sup>
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 34
      				</div>
      				<div class="chart-description">
      					Veterinärwesen
      				</div>
      				<div class="chart-body">
      					VetD <br />
      					DR. PFAFFENRATH <sup>6</sup>
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 35
      				</div>
      				<div class="chart-description">
      					Zulassungswesen
      				</div>
      				<div class="chart-body">
      					VAnge LORENZ
      				</div>
      			</div>
      		</div>

      		<!-- col 04 -->
      		<div class="chart dep04">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Abteilung 4
      				</div>
      				<div class="chart-description">
      					Staatliches Bauamt
      				</div>
      				<div class="chart-body">
      					ORR DR. TRIEBS
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 40
      				</div>
      				<div class="chart-description">
      					Technische Bauordnung
      				</div>
      				<div class="chart-body">
      					Dipl.-Ing. (FH) <br />
      					LANGENEGGER
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 41
      				</div>
      				<div class="chart-description">
      					Bauordnung, Bauleitplanung, Denkmalschutz
      				</div>
      				<div class="chart-body">
      					RAM GRAM
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 43
      				</div>
      				<div class="chart-description">
      					Immissionsschutz, staatliches Abfallrecht
      				</div>
      				<div class="chart-body">
      					RAR'in GRIMMEIß
      				</div>
      			</div>
      		</div>

      		<!-- col 05 -->
      		<div class="chart dep05">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Abteilung 5
      				</div>
      				<div class="chart-description">
      					Kommunales Bauwesen
      				</div>
      				<div class="chart-body">
      					ORR'in NEMETZ<BR />
      					(AZV/AVA und BWA)
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 50
      				</div>
      				<div class="chart-description">
      					Hochbau
      				</div>
      				<div class="chart-body">
      					Dipl.-Ing. (FH) HURLER
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 51
      				</div>
      				<div class="chart-description">
      					Tiefbau und Bauhof
      				</div>
      				<div class="chart-body">
      					TAng WENHARDT
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 52
      				</div>
      				<div class="chart-description">
      					Gebäudewirtschaft
      				</div>
      				<div class="chart-body">
      					Verwaltungsfachwirt<br />
      					SCHENKL
      				</div>
      			</div>
      		</div>

      		<!-- col 05 -->
      		<div class="chart dep06">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Abteilung 6
      				</div>
      				<div class="chart-description">
      					Umweltschutz
      				</div>
      				<div class="chart-body">
      					ORR'in DR. RINSDORF<br />
      					(Rechtsreferendare)
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 61
      				</div>
      				<div class="chart-description">
      					Kommunale Abfallwirtschaft
      				</div>
      				<div class="chart-body">
      					VR HAAS
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 62
      				</div>
      				<div class="chart-description">
      					Wasserrecht
      				</div>
      				<div class="chart-body">
      					RAR'in BRUGGER
      				</div>
      			</div>

      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>

      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 63
      				</div>
      				<div class="chart-description">
      					Naturschutz, Gartenkultur und Landespflege
      				</div>
      				<div class="chart-body">
      					RAR GRINZINGER
      				</div>
      			</div>
      		</div>
      	</div>

      	<!--<div class="level02">
      		<div class="chart chart01">
      			Department 1
      			 <button data-toggle="collapse" data-target="#demo">Collapsible</button>
				<div id="demo" class="collapse">
				Lorem ipsum dolor text....
				</div>
      		</div>
      		<div class="chart chart02">
      			Department 2
      		</div>
      		<div class="chart chart03">
      			Department 3
      		</div>
      		<div class="chart chart04">
      			Department 4
      		</div>
      		<div class="chart chart05">
      			Department 5
      		</div>
      		<div class="chart chart06">
      			Department 6
      		</div>
      	</div>-->

</div>
