<div class="app-chart-panel" id="app-chart-panel" role="contentinfo">
    <div class="app-chart-content">
    	<div class="app-page-header app-news-panel-header">
			<h1 class="app-page-headline">Verwaltungsgliederungsplan für das Landratsamt Aichach - Friedberg</h1>
		</div>
		<p class="text-xs-center">Stand 01.05.2016 (am 04.03.2016)</p>
		<!-- level 01 -->
    	<div class="level01">
    		<!-- chart 01 -->
      		<div class="chart chart01">
                        <a href="{{ page.base_url }}landratsamt/landrat">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Amtsvorstand
      				</div>
      				<div class="chart-body">
      					Landrat<br />
      					Dr. KLAUS METZGER
      				</div>
      				<div class="trenner-right hidden-lg-down">
      					<i class="fa fa-caret-right"></i>
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      		</div>
      		<!-- chart 02 -->
      		<div class="chart chart02">
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/stabsstellen/buero-des-landrats">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Büro des Landrats, Öffentlichkeitsarbeit
      				</div>
      				<div class="chart-body">
      					VAR MÜLLER
      				</div>
      				<div class="trenner-right hidden-lg-down">
      					<i class="fa fa-caret-right"></i>
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down hidden-lg-up">
      				<i class="fa fa-caret-down"></i>
      			</div>
      		</div>
      		<!-- chart 03 -->
      		<div class="chart chart03">
                        <a href="{{ page.base_url }}service/beratungen/gleichstellungsbuero">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Gleichstellungsstelle
      				</div>
      				<div class="chart-body">
      					Beate OSWALD-HUBER
      				</div>
      				<div class="trenner-right hidden-lg-down">
      					<i class="fa fa-caret-right"></i>
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down hidden-lg-up">
      				<i class="fa fa-caret-down"></i>
      			</div>
      		</div>
      		<!-- chart 04 -->
      		<div class="chart chart04">
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/stabsstellen/kreisrechnungspruefung">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Kreisrechnungs-<br />prüfungsamt
      				</div>
      				<div class="chart-body">
      					VR GÖTTLER
      				</div>
      				<div class="trenner-right hidden-lg-down">
      					<i class="fa fa-caret-right"></i>
      				</div>
      			</div>
      			<div class="trenner-down hidden-lg-up">
      				<i class="fa fa-caret-down"></i>
      			</div>
      		</div>
      		<!-- chart 05 -->
      		<div class="chart chart05">
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/stabsstellen/kreisbaumeister-gutachterausschuss">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Kreisbaumeister,<br />Gutachterausschuss
      				</div>
      				<div class="chart-body">
      					BD NEUMANN
      				</div>
      			</div>
                        </a>
      		</div>
      		<!-- chart 06 -->
      		<div class="chart chart06">
                        <a href="#">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Personalrat
      				</div>
      				<div class="chart-body">
      					Vorsitzender<br />
      					RAR RAAB
      				</div>
      			</div>
                        </a>
      		</div>
      	</div>
      	<!-- level 02 -->
      	<div class="level02">
      		<!-- col 01 -->
      		<div class="chart dep01">
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-1-zentrale-angelegenheiten">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Abteilung 1
      				</div>
      				<div class="chart-description">
      					Zentrale Angelegenheiten, Kreisentwicklung
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-1-zentrale-angelegenheiten/personalverwaltung">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 10
      				</div>
      				<div class="chart-description">
      						Personalverwaltung des Landkreises und der Krankenhäuser
      					</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-1-zentrale-angelegenheiten/kreisfinanzen-und-kreiskasse">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 11
      				</div>
      				<div class="chart-description">
      					Kreisfinanzen und Kreiskasse
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-1-zentrale-angelegenheiten/wirtschaftsfoerderung-regionalmanagement-und-klimaschutz">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 12
      				</div>
      				<div class="chart-description">
      					Wirtschaftsförderung, Regionalmanagement und Klimaschutz
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-1-zentrale-angelegenheiten/altenhilfe">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 13
      				</div>
      				<div class="chart-description">
      					Altenhilfe, Senioren-/ Behindertenberatung und Heimrecht
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-1-zentrale-angelegenheiten/hauptverwaltung">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 14
      				</div>
      				<div class="chart-description">
      					Hauptverwaltung
      				</div>
      			</div>
                        </a>
      		</div>

      		<!-- col 02 -->
      		<div class="chart dep02">
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-2-kommunale-und-soziale-angelegenheiten">
      			<!-- chart -->
      			<div class="chart-item">
      				<div class="chart-heading">
      					Abteilung 2
      				</div>
      				<div class="chart-description">
      					Kommunales und Soziales
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-2-kommunale-und-soziale-angelegenheiten/kommunale-angelegenheiten">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 20
      				</div>
      				<div class="chart-description">
      					Kommunale Angelegenheiten und Wahlen, Staatl. Rechnungs- prüfungsstelle
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-2-kommunale-und-soziale-angelegenheiten/amt-fuer-soziale-leistungen">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 22
      				</div>
      				<div class="chart-description">
      					Soziale Leistungen, Jobcenter Wittelsbacher Land
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-2-kommunale-und-soziale-angelegenheiten/jugendamt">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 23
      				</div>
      				<div class="chart-description">
      					Kreisjugendamt
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-2-kommunale-und-soziale-angelegenheiten/besondere-soziale-angelegenheiten">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 24
      				</div>
      				<div class="chart-description">
      					Besondere soziale Angelegenheiten
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-2-kommunale-und-soziale-angelegenheiten/ehrenamt-bildung-und-integration">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 25
      				</div>
      				<div class="chart-description">
      					Ehrenamt, Bildung, Integration
      				</div>
      			</div>
      		</div>

      		<!-- col 03 -->
      		<div class="chart dep03">
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-3-oeffentliche-sicherheit">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Abteilung 3
      				</div>
      				<div class="chart-description">
      					Sicherheit und Verbraucherschutz
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-3-oeffentliche-sicherheit/sicherheit-katastrophenschutz-und-lebensmittelueberwachung">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 30
      				</div>
      				<div class="chart-description">
      					Sicherheit, Katastrophenschutz und Lebensmittel- überwachung
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-3-oeffentliche-sicherheit/auslaender-und-personenstandswesen">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 31
      				</div>
      				<div class="chart-description">
      					Ausländer- und Personenstandswesen
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-3-oeffentliche-sicherheit/verkehrs-und-fuehrerscheinwesen">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 32
      				</div>
      				<div class="chart-description">
      					Verkehrs- und Führerscheinwesen
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-3-oeffentliche-sicherheit/gesundheitsamt">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 33
      				</div>
      				<div class="chart-description">
      					Gesundheitsamt
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-3-oeffentliche-sicherheit/veterinaerwesen">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 34
      				</div>
      				<div class="chart-description">
      					Veterinärwesen
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-3-oeffentliche-sicherheit/zulassungswesen">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 35
      				</div>
      				<div class="chart-description">
      					Zulassungswesen
      				</div>
      			</div>
                        </a>
      		</div>

      		<!-- col 04 -->
      		<div class="chart dep04">
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-4-staatliches-bauamt">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Abteilung 4
      				</div>
      				<div class="chart-description">
      					Staatliches Bauamt
      				</div>
      			</div>
                        <a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-4-staatliches-bauamt/technische-bauordnung">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 40
      				</div>
      				<div class="chart-description">
      					Technische Bauordnung
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-4-staatliches-bauamt/bauamt">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 41
      				</div>
      				<div class="chart-description">
      					Bauordnung, Bauleitplanung, Denkmalschutz
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-4-staatliches-bauamt/immissionsschutz-staatliches-abfallrecht">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 43
      				</div>
      				<div class="chart-description">
      					Immissionsschutz, staatliches Abfallrecht
      				</div>
      			</div>
                        </a>
      		</div>

      		<!-- col 05 -->
      		<div class="chart dep05">
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-5-kommunales-bauwesen">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Abteilung 5
      				</div>
      				<div class="chart-description">
      					Kommunales Bauwesen
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-5-kommunales-bauwesen/hochbau">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 50
      				</div>
      				<div class="chart-description">
      					Hochbau
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-5-kommunales-bauwesen/tiefbau-und-bauhof">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 51
      				</div>
      				<div class="chart-description">
      					Tiefbau und Bauhof
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-5-kommunales-bauwesen/gebaeudewirtschaft">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 52
      				</div>
      				<div class="chart-description">
      					Gebäudewirtschaft
      				</div>
      			</div>
                        </a>
      		</div>

      		<!-- col 05 -->
      		<div class="chart dep06">
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-6-umweltschutz">
      			<div class="chart-item">
      				<div class="chart-heading">
      					Abteilung 6
      				</div>
      				<div class="chart-description">
      					Umweltschutz
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-6-umweltschutz/kommunale-abfallwirtschaft">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 61
      				</div>
      				<div class="chart-description">
      					Kommunale Abfallwirtschaft
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-6-umweltschutz/wasserrecht">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 62
      				</div>
      				<div class="chart-description">
      					Wasserrecht
      				</div>
      			</div>
                        </a>
      			<div class="trenner-down">
      				<i class="fa fa-caret-down"></i>
      			</div>
      			<!-- chart -->
                        <a href="{{ page.base_url }}landratsamt/fachbereiche/abteilung-6-umweltschutz/naturschutz-gartenkultur-und-landespflege">
      			<div class="chart-item">
      				<div class="chart-heading">
      					SG 63
      				</div>
      				<div class="chart-description">
      					Naturschutz, Gartenkultur und Landespflege
      				</div>
      			</div>
                        </a>
      		</div>
      	</div>
</div>

<!--<div class="app-chart-panel">
  	<div class="app-chart-content">
  		<div class="app-chart-info-wrapper">
    		<div class="app-chart-info">
    			<h3>Erläuterung</h3>
      			<p><sup>1</sup> Büroleiter</p>
      			<p><sup>2</sup> Personalreferent</p>
      			<p><sup>3</sup> Finanzreferent</p>
      			<p><sup>4</sup> Wirtschaftsreferentin</p>
      			<p><sup>5</sup> Leiter des Gesundheitsamtes</p>
      			<p><sup>6</sup> Leiter des SG Veterinärwesen</p>
      			<p><sup>7</sup> Kreisbaumeister</p>
    		</div>
    		<div class="app-chart-info">
      			<h3>Vertretungen</h3>
      			<p>Abteilungsleiter 1 durch Sachgebietsleiter 10</p>
      			<p>Abteilungsleiter 2 ggs. bzw. durch Abteilungsleitung 3</p>
      			<p>Abteilungsleiter 3 durch Abteilungsleitung 2</p>
      			<p>Abteilungsleiter 4 durch Abteilungsleitung 6</p>
      			<p>Abteilungsleiter 5 durch Sachgebietsleiter 50</p>
      			<p>Abteilungsleiter 6 durch Abteilungsleitung 4</p>
    		</div>
    		<div class="app-chart-info">
    			<h3>Vertretungen</h3>
    			<p>Vertretungen für eden SGL und GL</p>
      			<p>KatS-Vertretung nach Plan</p>
      			<p>21, 42 und 60 entfällt</p>
      			<p><strong>KP</strong> einschl. Ideen- und Beschwerdemanagement, Datenschutz, Korruptionsvorsorge</p>
    		</div>
		</div>
  	</div>
</div>-->
