<div class="app-contact-panel" id="app-contact-panel" role="contentinfo">
    <div class="app-contact-panel-content app-cards app-card-gutter ">
      {% include components/card-address.html %}
      {% include components/card-map.html %}

<div class="app-card app-card-address">
  <div class="app-card-header">
    {% include components/brandpanel-inverse.html %}
  </div>
  <div class="app-card-main">
    <div class="app-card-content">
      <address>
        Münchner Str. 9<br>
        86551 Aichach
      </address>
      <address>
        Telefon: 08251/92-0<br>
        E-Mail: <a href="poststelle@lra-aic-fdb.de">poststelle@lra-aic-fdb.de</a>
      </address>
    </div>
  </div>
</div>
    </div>
</div>
